templates/adult.html
<!DOCTYPE html>
<html>
  <head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/adult.css">
    <link rel="stylesheet" type="text/css" href="../css/slick.css">
    <title>
    </title>
  </head>
  <body>
    <header>
      <div class="img_header"><img src="../images/header.png">
        <div class="social"><a href=""><i class="fa fa-apple"></i></a><a href=""><i class="fa fa-android"></i></a><a href=""><i class="fa fa-facebook"></i></a><a href=""><i class="fa fa-twitter"></i></a><a href=""><i class="fa fa-vk"></i></a></div>
        <div class="bread"><span></span><a href="">HOME</a>/ADULT</div>
      </div>
    </header>
    <main>
      <div class="wrap_1">
        <div class="box_1">
          <div class="icon zoom"><img src="../images/like_small.png"></div>
          <div class="text zoom">“Nothing can stop the man with the right mental attitude from achieving his goal nothing on earth can help the man with the wrong mental attitude”
          </div>
        </div>
        <div class="box_2"><img src="../images/w1_img_1.png">
          <div class="triangle"></div>
        </div>
        <div class="box_3">
          <div class="text zoom">21 days <span>I am positive</span> new habits</div>
        </div>
        <div class="box_4">
          <div class="content">
            <div class="img_con zoom"></div>
            <div class="description zoom"><h2> Winning in the IN21FUN yellow</h2><p> „I am positive” stage will change your mental state and will help you to regain balance, as well as the peace of mind. Your life will make sense and be colorful once again. Your dream will be calm. Your vital energy will become stronger. Each success in the yellow stage equals a happier life.</p> <p>Do not complain – be grateful for everything you have. Dare to dream about a brighter future. Make notes for the future. Think positively. Read and watch positive pieces of information, as well as pleasant images.</p> <p>Do not swear  - look at something colorful and positive for few seconds, think about people who love you, change a topic of conversation to a more positive one, tell a joke.</p> <p>Do not get angry – smile a lot, meditate, breather deeply and slowly, drink a glass of water, listen to your favorite music for 5 minutes.</p> <p>Do not be jealous – try to find your own worth, improve your self-esteem, find a hobby, care about spiritual values.</p></div>
            <div class="button_buy zoom">
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="box_5 single-item">
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
        </div>
      </div>
      <div class="wrap_2">
        <div class="box_1">
          <div class="icon zoom"><img src="../images/heart_small.png"></div>
          <div class="text zoom">“It is health that is real wealth and not pieces of gold and silver”
          </div>
        </div>
        <div class="box_2"><img src="../images/w2_img_1.png">
          <div class="triangle"></div>
        </div>
        <div class="box_3">
          <div class="text zoom">21 days <span>Healthy style</span> new habits</div>
        </div>
        <div class="box_4">
          <div class="content">
            <div class="img_con zoom"></div>
            <div class="description zoom"><h2> Winning in the IN21FUN green</h2> <p>It is health that is real wealth and not pieces of gold and silver – Mahatma Gandhi </p> <p>Physical fitness is not only one of the most important keys to a healthy body, it is the basis of dynamic and creative intellectual activity – John F. Kennedy </p> <p>The secret of health for both mind and body is not to mourn for the past, worry about the future, or anticipate troubles, but to live in the present moment wisely and earnestly - Buddha</p></div>
            <div class="button_buy zoom">
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="box_5 single-item">
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
        </div>
      </div>
      <div class="wrap_3">
        <div class="box_1">
          <div class="icon zoom"><img src="../images/capsule_small.png"></div>
          <div class="text zoom">“What maintains one vice would bring up two children” 
          </div>
        </div>
        <div class="box_2"><img src="../images/w3_img_1.png">
          <div class="triangle"></div>
        </div>
        <div class="box_3">
          <div class="text zoom">21 days <span>Without addiction</span> new habits</div>
        </div>
        <div class="box_4">
          <div class="content">
            <div class="img_con zoom"></div>
            <div class="description zoom"><h2> Winning in the IN21FUN orangen</h2><p>What maintains one vice would bring up two children – Benjamin Franklin </p> <p>Give every day the chance to become the most beautiful day of your life – Mark Twain </p> <p>Do not wait, the time will never be just right – Napoleon Hill</p></div>
            <div class="button_buy zoom">
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="box_5 single-item">
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
        </div>
      </div>
      <div class="wrap_4">
        <div class="box_1">
          <div class="icon zoom"><img src="../images/fire_small.png"></div>
          <div class="text zoom">“Conquer your passions and their power will become your power,their greatness will become your beauty”
          </div>
        </div>
        <div class="box_2"><img src="../images/w4_img_1.png">
          <div class="triangle"></div>
        </div>
        <div class="box_3">
          <div class="text zoom">21 days <span>My passion</span> new habits</div>
        </div>
        <div class="box_4">
          <div class="content">
            <div class="img_con zoom"></div>
            <div class="description zoom"><h2> Winning in the IN21FUN red</h2><p>If your actions inspire others to dream more, learn more, do more and become more, you are a leader – John Quincy Adams </p> <p>Conquer your passions and their power will become your power, their greatness will become your beauty– Anatole France </p> <p>If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward – Martin Luther King</p></div>
            <div class="button_buy zoom">
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="box_5 single-item">
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
        </div>
      </div>
      <div class="wrap_5">
        <div class="box_1">
          <div class="icon zoom"><img src="../images/super_small.png"></div>
          <div class="text zoom">“You may only be a person in this world, but for someone you are the world”
          </div>
        </div>
        <div class="box_2"><img src="../images/w5_img_1.png">
          <div class="triangle"></div>
        </div>
        <div class="box_3">
          <div class="text zoom">21 days <span>good deed collector</span> new habits</div>
        </div>
        <div class="box_4">
          <div class="content">
            <div class="img_con zoom"></div>
            <div class="description zoom"><h2> Winning in the IN21FUN green</h2><p></p> <p> </p> <p> </p> <p> </p> <p></p></div>
            <div class="button_buy zoom">
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="box_5 single-item">
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
        </div>
      </div>
      <div class="wrap_6">
        <div class="box_1">
          <div class="icon zoom"><img src="../images/sex_small.png"></div>
          <div class="text zoom">“I don't mind living in a man's world, as long as I can be a woman in it”
          </div>
        </div>
        <div class="box_2"><img src="../images/w6_img_1.png">
          <div class="triangle"></div>
        </div>
        <div class="box_3">
          <div class="text zoom">21 days <span>Together forever</span> new habits</div>
        </div>
        <div class="box_4">
          <div class="content">
            <div class="img_con zoom"></div>
            <div class="description zoom"><h2> Together forever</h2><p></p> <p> </p> <p> </p> <p> </p> <p></p></div>
            <div class="button_buy zoom">
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="box_5 single-item">
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
          <div class="slide">
            <div class="persona zoom"><img src="../images/mike.png"></div>
            <div class="name zoom">Michael Jackson
            </div>
            <div class="review zoom">In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with di strust, we must still dare to believe
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <footer>
    <div class="content_footer">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/jquery.viewportchecker.min.js"></script>
  <script type="text/javascript" src="../js/slick.js"></script>
  <script>$('.single-item').slick({autoplay:true});</script>
</html>

adult.jade
extends base
block style
   link(rel='stylesheet' href='../css/adult.css')
   link(rel="stylesheet" type="text/css" href="../css/slick.css")
block main
   header
      .img_header
         img(src="../images/header.png")
         .social
            a(href="")
               i.fa.fa-apple
            a(href="")
               i.fa.fa-android
            a(href="")
               i.fa.fa-facebook
            a(href="")
               i.fa.fa-twitter
            a(href="")
               i.fa.fa-vk
         .bread
            span
            a(href="") HOME
            |/ADULT
   include value
   main
      each item, index in i
         div(class='wrap_' + (index + 1))
            .box_1
               .icon.zoom
                  img(src='../images/' + item.icon)
               .text.zoom
                  =item.text
            .box_2
               img(src='../images/' + item.box_2_img)
               .triangle
            .box_3
               .text.zoom
                  !{item.box_3_text}
            .box_4
               .content
                  .img_con.zoom
                  .description.zoom
                     !{item.description}
                  .button_buy.zoom
                     .buy
                        a(href='') BUY NOW

            .box_5.single-item
               each j in slider_wrap_1
                  .slide
                     .persona.zoom
                        img(src='../images/' + j.persona)
                     .name.zoom
                        =j.name
                     .review.zoom
                        =j.review
block script
   script(type="text/javascript" src="../js/slick.js")
   script.
      $('.single-item').slick({autoplay:true});
