index.jade
extends base
block style
   link(rel='stylesheet' href='../css/style_2.css')
block main
   header
      | dfvgdfg
   section
      .wrapper_1
         .cycle_out_1.zoom
            .cycle_inset_1
               img(src='../images/like.png')
         .bg_1
            .content
               .left_box_1.box
                  .img_box_1.box_img
               .separator
               .right_box_1.box
                  .text_block.zoom
                     p.title I am positive
                     p.subtitle Fill your soul with happiness. Change your emotions.
                  .img_box_2.box_img
                  .buy
                     a(href='') BUY NOW
         .triangle-top_1
         .img_bg
            .text_img.zoom
               | in 21 days 
         .triangle-bottom_1
   section
      .wrapper_2
         .cycle_out_2.zoom
            .cycle_inset_2
               img(src='../images/heart.png')
         .triangle-top_2
         .bg_2
            .content
               .left_box_2.box
                  .text_block.zoom
                     p.title Healthy style
                     p.subtitle Fall in love with your body. Get accustomed to caring about every centimeter of your body
                  .img_box_3.box_img
               .separator
               .right_box_2.box
                  .img_box_4.box_img
                  .buy
                     a(href='') BUY NOW
         .img_bg
            .text_img.zoom
               |Do not wait, the time will never be just right
         .triangle-bottom_2
   section
      .wrapper_3
         .cycle_out_3.zoom
            .cycle_inset_3
               img(src='../images/capsule.png')
         .triangle-top_3
         .bg_3
            .content
               .left_box_3.box
                  .img_box_5.box_img
               .separator
               .right_box_3.box
                  .text_block.zoom
                     p.title Without addiction
                     p.subtitle Free your body and mind. 21 days is a good starting point. Regain control over your life
                  .img_box_6.box_img
                  .buy
                     a(href='') BUY NOW
         .img_bg
            .text_img.zoom
               |Give every day the chance to become the most beautiful day of your life
         .triangle-bottom_3
   section
      .wrapper_4
         .cycle_out_4.zoom
            .cycle_inset_4
               img(src='../images/fire.png')
         .triangle-top_4
         .bg_4
            .content
               .left_box_4.box
                  .text_block.zoom
                     p.title My passion
                     p.subtitle Find the sense of your life and reach the top. 21 days will grant you immeasurable power
                  .img_box_7.box_img
               .separator
               .right_box_4.box
                  .img_box_8.box_img
                  .buy
                     a(href='') BUY NOW
         .img_bg
            .text_img.zoom
               | You may only be a person in this world,
               br
               | but for someone you are the world
         .triangle-bottom_4
   section
      .wrapper_5
         .cycle_out_5.zoom
            .cycle_inset_5
               img(src='../images/super.png')
         .bg_5
            .content
               .left_box_5.box
                  .img_box_9.box_img
               .separator
               .right_box_5.box
                  .text_block.zoom
                     p.title Good deed collector I am a Hero
                     p.subtitle Share your happiness with others. Teach your kids how to be a better person in 21 days. 
                  .img_box_10.box_img
                  .buy
                     a(href='') BUY NOW




block script

templates/index.html
<!DOCTYPE html>
<html>
  <head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/style_2.css">
    <title>
    </title>
  </head>
  <body>
    <header>dfvgdfg</header>
    <section>
      <div class="wrapper_1">
        <div class="cycle_out_1 zoom">
          <div class="cycle_inset_1"><img src="../images/like.png"></div>
        </div>
        <div class="bg_1">
          <div class="content">
            <div class="left_box_1 box">
              <div class="img_box_1 box_img"></div>
            </div>
            <div class="separator"></div>
            <div class="right_box_1 box">
              <div class="text_block zoom">
                <p class="title">I am positive</p>
                <p class="subtitle">Fill your soul with happiness. Change your emotions.</p>
              </div>
              <div class="img_box_2 box_img"></div>
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="triangle-top_1"></div>
        <div class="img_bg">
          <div class="text_img zoom">in 21 days </div>
        </div>
        <div class="triangle-bottom_1"></div>
      </div>
    </section>
    <section>
      <div class="wrapper_2">
        <div class="cycle_out_2 zoom">
          <div class="cycle_inset_2"><img src="../images/heart.png"></div>
        </div>
        <div class="triangle-top_2"></div>
        <div class="bg_2">
          <div class="content">
            <div class="left_box_2 box">
              <div class="text_block zoom">
                <p class="title">Healthy style</p>
                <p class="subtitle">Fall in love with your body. Get accustomed to caring about every centimeter of your body</p>
              </div>
              <div class="img_box_3 box_img"></div>
            </div>
            <div class="separator"></div>
            <div class="right_box_2 box">
              <div class="img_box_4 box_img"></div>
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="img_bg">
          <div class="text_img zoom">Do not wait, the time will never be just right</div>
        </div>
        <div class="triangle-bottom_2"></div>
      </div>
    </section>
    <section>
      <div class="wrapper_3">
        <div class="cycle_out_3 zoom">
          <div class="cycle_inset_3"><img src="../images/capsule.png"></div>
        </div>
        <div class="triangle-top_3"></div>
        <div class="bg_3">
          <div class="content">
            <div class="left_box_3 box">
              <div class="img_box_5 box_img"></div>
            </div>
            <div class="separator"></div>
            <div class="right_box_3 box">
              <div class="text_block zoom">
                <p class="title">Without addiction</p>
                <p class="subtitle">Free your body and mind. 21 days is a good starting point. Regain control over your life</p>
              </div>
              <div class="img_box_6 box_img"></div>
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="img_bg">
          <div class="text_img zoom">Give every day the chance to become the most beautiful day of your life</div>
        </div>
        <div class="triangle-bottom_3"></div>
      </div>
    </section>
    <section>
      <div class="wrapper_4">
        <div class="cycle_out_4 zoom">
          <div class="cycle_inset_4"><img src="../images/fire.png"></div>
        </div>
        <div class="triangle-top_4"></div>
        <div class="bg_4">
          <div class="content">
            <div class="left_box_4 box">
              <div class="text_block zoom">
                <p class="title">My passion</p>
                <p class="subtitle">Find the sense of your life and reach the top. 21 days will grant you immeasurable power</p>
              </div>
              <div class="img_box_7 box_img"></div>
            </div>
            <div class="separator"></div>
            <div class="right_box_4 box">
              <div class="img_box_8 box_img"></div>
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
        <div class="img_bg">
          <div class="text_img zoom">You may only be a person in this world,<br>but for someone you are the world</div>
        </div>
        <div class="triangle-bottom_4"></div>
      </div>
    </section>
    <section>
      <div class="wrapper_5">
        <div class="cycle_out_5 zoom">
          <div class="cycle_inset_5"><img src="../images/super.png"></div>
        </div>
        <div class="bg_5">
          <div class="content">
            <div class="left_box_5 box">
              <div class="img_box_9 box_img"></div>
            </div>
            <div class="separator"></div>
            <div class="right_box_5 box">
              <div class="text_block zoom">
                <p class="title">Good deed collector I am a Hero</p>
                <p class="subtitle">Share your happiness with others. Teach your kids how to be a better person in 21 days. </p>
              </div>
              <div class="img_box_10 box_img"></div>
              <div class="buy"><a href="">BUY NOW</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <div class="content_footer">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/jquery.viewportchecker.min.js"></script>
</html>
